<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>


@if (ViewBag.events.Count == 0)
{
    <p>No Events yet!</p>
}
else
{
    <p>
        <a asp-controller="Events" asp-action="Delete">Delete Events</a>
    </p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
         </tr>
        @foreach (var evnt in ViewBag.events)
        {
            <tr>
                <td>@evnt.Id</td>
                <td>@evnt.Name</td>
                <td>@evnt.Description</td>
                <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@evnt.Id">Edit Event</a></td>

            </tr>
        }
            </table>
        }
